h1{
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin: 30px;
}

.lista-notas{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.notas{
    padding: 10px 0 10px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #DEE8FA;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

i{
    margin-right: 10px;
    cursor: pointer;
}

.direita{
    display: inline-block;
    width: 68vw;
    position: absolute;
    background-color: #BBD0FA;
}

.categoria{
    font-size: 20px;
}

.notas h3{
    font-weight: bold;
}

.notas p, .notas h3{
    padding: 10px 0 10px 0;
}

.check{
    text-decoration-line: line-through; 
    -webkit-text-decoration-line: line-through;
}