.titulo, .botao, .corpo-texto{
    width: 100%;
    border: none;
    font-family: 'Noto Sans Mono', monospace;
    background-color: #DEE8FA;
    color: #332C1C;
    padding: 10px;
    border-radius: 3px ;
    display: block;
    min-width: 60px;
    margin-top: 20px;
    transition: all 250ms;
}

.download{
    margin-top: 20px;
    display: flex;
}

.titulo, .corpo-texto{
    box-sizing: border-box;
}

.botao:hover{
    background-color: #92a5c7;
}

.botao:active{
    background-color: #7186AD;
}

.esquerda{
    display: inline-block;
    width: 30vw;
    border-right: 2px solid #AD955F;
    text-align: center;
    height: 100vw;
}

.formulario{
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    width: 60%;
}
